# Default ownership for all files: backend team
* @JoudIssaTech/backend

# Frontend folder ownership
/frontend/ @JoudIssaTech/frontend

# Backend API folder ownership
/backend/api/ @JoudIssaTech/backend

# Specific frontend file override
/frontend/api/payment.js @JoudIssaTech/frontend
